<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="img">
      <img src="https://as1.ftcdn.net/v2/jpg/02/59/39/46/1000_F_259394679_GGA8JJAEkukYJL9XXFH2JoC3nMguBPNH.jpg" alt="">
    </div>
    <div class="container">
      <ion-list>
        <ion-item>
          <ion-input type="email" formControlName="email" placeholder="Correo Electronico" inputmode="email"></ion-input>
        </ion-item>
        <span class="error-message">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </span>
        <ion-item>
          <ion-input type="password" formControlName="password" placeholder="Contraseña"></ion-input>
        </ion-item>
        <span class="error-message">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </span>
      </ion-list>
    </div>
      <ion-button class="btn" type="submit" color="tertiary" expand="block" [disabled]="!loginForm.valid">
        Ingresar
      </ion-button>
    <div class="error-container" *ngIf="errorMessage">
      <span class="error">
        <ion-icon name="information-circle-outline"></ion-icon> {{ errorMessage }}
      </span>
    </div>
  </form>
</ion-content>

<!-- <ion-footer class="ion-no-border">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,160L48,154.7C96,149,192,139,288,122.7C384,107,480,85,576,106.7C672,128,768,192,864,186.7C960,181,1056,107,1152,85.3C1248,64,1344,96,1392,112L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
</ion-footer> -->
